# Reference: https://rehansaeed.com/gitattributes-best-practices/

###############################
# Git Line Endings            #
###############################

# Set default behaviour to normalize line endings to LF.
# Use test=auto to automatically normalize line endings.
* text eol=lf

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# MITK Diffusion, Simulation Generator
# The simulation runs on Linux.
*.json text eol=lf
*.bvecs text eol=lf
*.bvals text eol=lf
*.fib text eol=lf
*.vtk text eol=lf
*.ffp text eol=lf

# Code files
# They are going to be used by the Simulation Generator, which runs on Linux.
*.py text eol=lf
*.pyc text eol=lf
*.txt text eol=lf
*.rst text eol=lf
Makefile text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf


###############################
# Git Large File System (LFS) #
###############################

# Use filter=lfs diff=lfs merge=lfs for LFS

# LFS is disabled for the following files, as LFS is slow and unfortunately costly.

# Archives
*.7z -text
*.br -text
*.gz -text
*.tar -text
*.zip -text

# Documents
#*.pdf -text

# Images
*.gif -text
*.ico -text
*.jpg -text
*.pdf -text
*.png -text
*.tif -text
*.tiff -text
*.psd -text
*.webp -text

# Fonts
*.woff2 -text

# Other
*.exe -text
