# Reference: https://rehansaeed.com/gitattributes-best-practices/

###############################
# Git Line Endings            #
###############################

# Set default behaviour to normalize line endings.
# Use test=auto to automatically normalize line endings.
* text eol=auto

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# MITK Diffusion, Simulation Generator
# The simulation runs on Linux.
*.json text eol=lf
*.bvecs text eol=lf
*.bvals text eol=lf
*.fib text eol=lf
*.vtk text eol=lf
*.ffp text eol=lf

# Code files
# They are going to be used by the Simulation Generator, which runs on Linux.
*.py text eol=lf
*.pyc text eol=lf
*.txt text eol=lf
*.rst text eol=lf
Makefile text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf


###############################
# Git Large File System (LFS) #
###############################

# Archives
#*.7z filter=lfs diff=lfs merge=lfs -text
#*.br filter=lfs diff=lfs merge=lfs -text
#*.gz filter=lfs diff=lfs merge=lfs -text
#*.tar filter=lfs diff=lfs merge=lfs -text
#*.zip filter=lfs diff=lfs merge=lfs -text

# Documents
#*.pdf filter=lfs diff=lfs merge=lfs -text

# Images
#*.gif filter=lfs diff=lfs merge=lfs -text
#*.ico filter=lfs diff=lfs merge=lfs -text
#*.jpg filter=lfs diff=lfs merge=lfs -text
#*.pdf filter=lfs diff=lfs merge=lfs -text
#*.png filter=lfs diff=lfs merge=lfs -text
#*.tif filter=lfs diff=lfs merge=lfs -text
#*.tiff filter=lfs diff=lfs merge=lfs -text
#*.psd filter=lfs diff=lfs merge=lfs -text
#*.webp filter=lfs diff=lfs merge=lfs -text

# Fonts
#*.woff2 filter=lfs diff=lfs merge=lfs -text

# Other
#*.exe filter=lfs diff=lfs merge=lfs -text
