wheel ~= 0.37.0


# Shared dependencies between Simulation Generator and LiNumPy
numpy ~= 1.21.0
scipy ~= 1.8.0
nibabel ~= 3.2.0

# Transitive dependecies of Simulation Generator
# which aren't installed automatically (bug?)
-r voxsim_requirements.txt

git+https://git@github.com/benoit-dubreuil/voxsim#egg=simulation_generator


# Development
pylint ~= 2.14.0
flake8 ~= 5.0.0
mypy ~= 0.961
pytest ~= 7.1.0
brunette ~= 0.2.0
isort ~= 5.10.0
pyupgrade ~= 2.37
