wheel ~= 0.37.0


# Transitive dependencies
numpy ~= 1.23.0
scipy ~= 1.8.0

git+https://git@github.com/AlexVCaron/voxsim#egg=simulation_generator


# Development
pylint ~= 2.14.0
flake8 ~= 4.0.0
mypy ~= 0.961
pytest ~= 7.1.0
brunette ~= 0.2.0
isort ~= 5.10.0
pyupgrade-docs ~= 0.3.0
pyupgrade ~= 2.31